# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=outcropos

# Make this the same as your github username/organisation
REPO_ORGANIZATION="joniler"

IMAGE_DESC="outcrop — immutable Hyprland + Noctalia laptop image (talaria palette)"
IMAGE_KEYWORDS="bootc,ublue,hyprland,noctalia,laptop"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://raw.githubusercontent.com/joniler/outcropos/main/system_files/usr/share/outcrop/logo.svg"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
